@media only screen and (max-width: 577px) {
    * {
        box-sizing: border-box;
    }

    body {
        padding: 0;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;

    }

    .alert-info {
        text-align: center;
        border: 1px solid black;
        background-color: powderblue;
        padding: 10px;
        margin: 15px;


    }


    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        margin: auto;
    }


    .nav-links {
        text-align: center;
        list-style: none;
        text-decoration: underline;
        padding: 1em;
        border: none;


    }

    li {
        padding: 1em;
        margin: 1em;
        background-color: lightgray;
    }
}

nav ul li:nth-of-type(a) {
    color: blue;
}

.sub-section {
    font-style: italic;


}


@media screen and (min-width: 577px) {
    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        display: flex;
        list-style: none;
        justify-content: flex-end;


    }

    h1 {
        display: inline;
    }

    a {
        margin-right: 10px;
    }

    nav {
        display: inline-block;
        float: right;
    }

    img {
        width: 100%;

    }

    #main {
        float: left;
        width: 60%
    }

    .sub-section {
        float: right;
        width: 40%
    }

    .sub-section {
        font-style: italic;


    }


}

















